*.pyc
*.xml
*.ini
*.o
*.so
*.pkl
*.csv
*.xlsx
*.txt
*.lprof
*.npz
*.pdf
*.lock

.python-version

simulations
simulations/
Simulations
Simulations/
test_scripts/
__pycache__/
errors/
figures/
data/
logs/
srun_test/
batch/
.idea/
_trial_temp/
.vscode/
!requirements.txt
cartesiusdata
!csv_files/
!expedient*.csv
old_files/
!gate_lookup_tables/
!single_qubit_gates.pkl
!two_qubit_gates.pkl